<!DOCTYPE html>
<html lang="en-us" ng-app="surveyApp">
    <head>
        <title>Voting Machine</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
        <link rel="stylesheet" href="stylesheets/style.css" />
        
        <script src="javascripts/libs/angular.min.js"></script>
        <script src="javascripts/libs/angular-route.min.js"></script>
        <script src="javascripts/libs/angular-resource.min.js"></script>
        <script src="app.js"></script>
        <script src="javascripts/routes.js"></script>
        <script src="javascripts/services.js"></script>
        <script src="javascripts/controllers.js"></script>
        <script src="javascripts/directives.js"></script>
        
    </head>
    <body>

        <div ng-view>
            
            </div>



    </body>
</html>